ion-header {
    height: 55px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

.store-name {
    h2 {
        text-transform: capitalize;
        margin: 0;
        cursor: pointer;
    }

    h2:focus {
        outline: none;
    }

    h2:hover {
        color: grey;

    }
}

ion-icon {
    font-size: 25px;
    border: none;
    cursor: pointer;
}

ion-icon:focus {
    outline: none;
    
}

ion-icon:hover {
    color: grey;
}