ion-header {
    height: 55px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;

    div:nth-child(2) {
        display: flex;
        justify-content: baseline;
        align-items: center;
    }
}

.store-name {
    h2 {
        text-transform: capitalize;
        margin: 0;
        color: #808080;
        cursor: pointer;
    }

    h2:focus {
        outline: none;
    }

    h2:hover {
        color: #d3d3d3;
    }
}

ion-icon {
    margin-left: 10px;
    font-size: 28px;
    border: none;
    color: #808080;
    cursor: pointer;
}

ion-icon:focus {
    outline: none;
}

ion-icon:hover {
    color: #d3d3d3;
}

.user-icon {
    display: flex;
    justify-content: center;
    height: 37px;
    width: 37px;
    border-radius: 50%;
    background-color: #ebecf0;
    border: 1px solid #d3d3d3;
    cursor: pointer;
    span {
        text-transform: uppercase;
        line-height: 40px;
        font-size: 24px;
        color: #808080;
    }

}

.user-icon:focus {
    outline: none;
}

.user-icon:hover {
    span {
         color: #d3d3d3;
    }
   
}

.active-basket {
    color: #ff0000;
}

.active-basket:hover {
    color: #d46565;
}